Flask==1.0.3
Flask-SQLAlchemy==2.4.0
Flask-RQ2==18.3
Flask-Migrate==2.5.2
redis==3.2.1
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
https://github.com/hasgeek/flask-lastuser/archive/master.zip
