Flask
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
Flask-SQLAlchemy
https://github.com/hasgeek/flask-lastuser/archive/master.zip
Flask-Script
https://github.com/jace/flask-alembic/archive/master.zip
