Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-RQ2==18.3
Flask-Migrate==2.7.0
redis==3.5.3
https://github.com/hasgeek/coaster/archive/master.zip
https://github.com/hasgeek/baseframe/archive/master.zip
https://github.com/hasgeek/flask-lastuser/archive/master.zip
