{% extends "baseframe/mui/baseframe.html.jinja2" -%}
{% from "baseframe/mui/components.html.jinja2" import hgtopnav, hgsubtopnav, hgsidenav with context %}

{% block title %}Material design kitchen sink page{% endblock %}

{% block sidedrawerinner -%}
  {% with site_links=[] %}
  	{% set site_links = site_links + [{'title': "Applied jobs", 'url': 'http://test.com', 'icon': 'assignment'}] %}
  	{% set site_links = site_links + [{'title': "Bookmarks", 'url': 'http://test.com', 'icon': 'bookmark'}] %}
		{{ hgsidenav(site_links=site_links) }}
	{% endwith %}
{%- endblock %}

{% block header -%}
	{{ hgtopnav(site_title="Haasfdmndsmfbmndfmnsjob", side_menu_button=true) }}
{%- endblock %}

{% block basecontent %}

  <!--Typography -->
	<div>
	  <h1>Typography</h1>
		<p class="mui--text-display3">Display3</p>
		<p class="mui--text-display2">Display2</p>
		<p class="mui--text-display1">Display1</p>
		<p class="mui--text-headline">Headline</p>
		<p class="mui--text-title">Title</p>
		<p class="mui--text-subhead">Subhead</p>
		<p class="mui--text-body2">Body2</p>
		<p class="mui--text-body1">Body1</p>
		<p class="mui--text-caption">Caption</p>
		<p class="mui--text-menu">Menu</p>
		<h1>H1</h1>
		<h2>H2</h2>
		<h3>H3</h3>
		<h4>H4</h4>
		<h5>H5</h5>
		<h6>H6</h6>
	</div>
	<hr>

  <!--Card -->
  <div>
		<h1>Card</h1>
		<div class="grid">
		  <div class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
		    <div class="grid__cell">
		      <div class="card">
			      <img src="../static/img/fifthel-banner.png" class="card__image">
			      <div class="card__title">
			        <h3 class="mui--text-title card__title__heading">Fifth Elephant 2017</h3>
			        <h4 class="mui--text-subhead card__title__heading">27–28 July 2017, Bangalore</h4>
			      </div>
			      <div class="card__body">
			        <p>The Fifth Elephant is India’s best conference on data science, engineering and Machine Learning. This year is the sixth edition, and will feature talks on data engineering, architecture decisions, building data pipelines, IoT and data analytics.</p>
			      </div>
			      <div class="mui-divider"></div>
			      <div class="card__footer">
			       	<a href="https://fifthelephant.in/2017" class="mui-btn mui-btn--flat mui-btn--accent">Tickets</a>
			       	<a href="https://fifthelephant.talkfunnel.com/2017/" class="mui-btn mui-btn--flat mui-btn--accent">Proposals</a>
			    	</div>
		    	</div>
		    </div>
		  </div>

		  <div class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
		    <div class="grid__cell">
		      <div class="card">
			      <img src="../static/img/jsfoo-banner.png" class="card__image">
						<div class="card__title">
			        <h3 class="mui--text-title card__title__heading">JSFoo 2017</h3>
			        <h4 class="mui--text-subhead card__title__heading">15–16 September 2017, Bangalore</h4>
			      </div>
			      <div class="card__body">
			        <p>Our annual conference on JavaScript.</p>
			      </div>
			      <div class="mui-divider"></div>
			      <div class="card__footer">
			       	<a href="https://jsfoo.in/2017" class="mui-btn mui-btn--flat mui-btn--accent">Tickets</a>
			       	<a href="https://jsfoo.talkfunnel.com/2017/" class="mui-btn mui-btn--flat mui-btn--accent">Proposals</a>
			    	</div>
		    	</div>
		    </div>
		  </div>
		</div>

    <h1>Card</h1>
  	<div class="grid">
			<div class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
		    <div class="grid__cell">
		      <div class="card">
			      <div class="card__header">
			        <div class="card__header__title">
			        	<h3 class="mui--text-title card__title__heading">Kilter 2018</h3>
			        	<h4 class="mui--text-subhead card__title__heading">1–2 April 2018</h4>
			        </div>
			        <img class="card__header__logo-image" src="https://images.hasgeek.com/embed/file/eaaffeb43d0249b8b460388e4389df9c">
			      </div>
			      <div class="card__body">
			        <p>Kilter is a new conference on improving your body via better nutrition, fitness and habits.</p>
			      </div>
			      <div class="mui-divider"></div>
			      <div class="card__footer">
			       	<a href="https://kilter.in/2018" class="mui-btn mui-btn--flat mui-btn--accent">Tickets</a>
			       	<a href="https://kilter.talkfunnel.com/2018/" class="mui-btn mui-btn--flat mui-btn--accent">Proposals</a>
			    	</div>
		    	</div>
		    </div>
		  </div>

		  <div class="grid__col-12 grid__col-xs-12 grid__col-sm-6 grid__col-lg-4">
		    <div class="grid__cell">
		      <div class="card">
			      <div class="card__header">
			        <div class="card__header__title">
			        	<h4 class="mui--text-caption mui--text-light card__title__heading">12 July</h4>
			        	<h3 class="mui--text-title card__title__heading">Front-End Developer</h3>
			        </div>
			        <div class="card__header__title__tag"><span>New!</span></div>
			      </div>
			      <div class="card__body">
			        <div class="card__body__text">
			        	<h3 class="card__body__text__heading">Playo</h3>
			        	<span class="chip">
    							<span class="chip__text">Bangalore</span>
								</span>
								<span class="chip">
    							<span class="chip__text">Full time</span>
								</span>
			      	</div>
			      	<div class="card__body__logo">
			      		<img class="card__body__logo--img" src="https://hasjob.co/_uploads/logos/cut27.png">
			      	</div>
			      </div>
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
	<hr>

  <!-- Buttons -->
  <div>
		<h1>Buttons</h1>
		<h3>Raised buttons</h3>
		<div>
	<!-- 	  <button class="mui-btn mui-btn--raised">Button</button> -->
			<button class="mui-btn mui-btn--raised mui-btn--primary" href="#">Primary</button>
			<button class="mui-btn mui-btn--raised mui-btn--accent" href="#">Secondary</button>
			<button class="mui-btn mui-btn--raised mui-btn--danger" href="#">Secondary</button>
		</div>
		<h3>Floating action buttons</h3>
		<div>
			<!-- <button class="mui-btn mui-btn--fab">+</button> -->
	  	<button class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons">add</i></button>
	  	<button class="mui-btn mui-btn--fab mui-btn--danger"><i class="material-icons">search</i></button>
	  	<button class="mui-btn mui-btn--fab mui-btn--accent"><i class="material-icons">add</i></button>
	  </div>
	</div>
	<hr>

 <!-- Panel -->
	<div>
	  <h1>Panel</h1>
    <div class="mui-panel">
      <h1>HasGeek</h1>
      <p>HasGeek creates discussion spaces for geeks. Come to our events to meet like-minded people, learn new things and discover new opportunities.</p>
      <button class="mui-btn mui-btn--primary mui-btn--raised">Know more</button>
    </div>
	</div>
	<hr>

	<!-- Alerts -->
	<div>
	  <h1>Alerts</h1>
    <div class="alert alert--success alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="close"><i class="material-icons">clear</i></a>
      <h3 class="alert__heading">HasGeek</h3>
      <p class="alert__text">Well done! You successfully read this important <a class="alert__link" href="#">alert message.</a></p>
    </div>

    <div class="alert alert--info alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="close"><i class="material-icons">clear</i></a>
      <p class="alert__text"><i class="material-icons alert__icon">report_problem</i> You have four read messages</p>
    </div>

    <div class="alert alert--warning alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="close"><i class="material-icons">clear</i></a>
      <p class="alert__text"><i class="material-icons alert__icon">warning</i>  User has to be an admin</p>
    </div>

    <div class="alert alert--danger alert--dismissable">
      <a class="alert__close" href="javascript:void(0);" aria-label="close"><i class="material-icons">clear</i></a>
      <p class="alert__text"><i class="material-icons alert__icon">error</i> Internal server error</p>
    </div>
	</div>
	<hr>

  <!-- Dropdown -->
  <div>
    <h1>Dropdown</h1>
		<div class="mui-dropdown">
		  <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
		    Dropdown
		    <span class="mui-caret"></span>
		  </button>
		  <ul class="mui-dropdown__menu">
		    <li><a href="#">Option 1</a></li>
		    <li><a href="#">Option 2</a></li>
		    <li><a href="#">Option 3</a></li>
		    <li><a href="#">Option 4</a></li>
		  </ul>
		</div>
	</div>
	<hr>

	<!-- Forms -->
	<div>
	  <h1>Form</h1>
	  <form method="POST" accept-charset="UTF-8" class="mui-form">
	  <div class="mui-textfield mui-textfield--float-label">
	    <input type="text">
	    <label>Name</label>
	  </div>
	  <p class="mui-form--helptext">Please enter your fullname</p>
	  <div class="mui-checkbox">
	    <label>
	      <input type="checkbox" value="" checked>
	      Option one
	    </label>
	  </div>
	  <div class="mui-checkbox">
	    <label>
	      <input type="checkbox" value="">
	      Option two
	    </label>
		</div>
		<div class="mui-radio">
	    <label>
	      <input type="radio"
	             name="optionsRadios"
	             id="optionsRadios1"
	             value="option1"
	             checked>
	      Option one
	    </label>
	  </div>
	  <div class="mui-radio">
	    <label>
	      <input type="radio"
	             name="optionsRadios"
	             id="optionsRadios2"
	             value="option2">
	      Option two
	    </label>
	  </div>
	  <div class="mui-select">
	    <label>Select an option</label>
	    <select>
	      <option>Option 1</option>
	      <option>Option 2</option>
	      <option>Option 3</option>
	      <option>Option 4</option>
	    </select>
	  </div>
	  <div class="mui-textfield mui-textfield--float-label">
	    <textarea></textarea>
	    <label>Textarea</label>
	  </div>
	  <button type="submit" class="mui-btn mui-btn--primary mui-btn--raised">Submit</button>
		</form>
	</div>
	<hr>

	<!-- Table -->
	<div>
	  <h1>Table</h1>
	    <div class="table-wrapper">
			  <table class="mui-table mui-table--bordered">
					<thead>
						<tr>
							<th>Category</th>
							<th>#</th> <th>Ticket</th>
							<th>Available</th>
							<th>Sold</th>
							<th>Free</th>
							<th>Cancelled</th>
							<th>Current Price</th>
							<th>Net Sales</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Conference</td>
							<td>1</td>
							<td>Fragments 2017 conference ticket</td>
							<td>560</td>
							<td>40</td>
							<td>0</td>
							<td>2</td>
							<td>₹5,100</td>
							<td>₹1,66,470</td>
						</tr>
						<tr>
						  <td>Conference</td>
							<td>2</td>
							<td>Cross-platform developer ticket</td>
							<td>497</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>₹12,700</td>
							<td>₹33,200</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>

	</div>
{% endblock %}

{% block footer -%}
  {{ config['MESSAGE_FOOTER'] }}
{% endblock %}
